body{
    background: #777;
}

.background {
    width:300px;
    height:400px;
    background:gray;
    margin:50px auto;
}

button {
    border: 0;
    color:#fff;

}

#result{
    display:block;
    font-family: sans-serif;
    width: 230px;
    height: 40px;
    margin: 10px auto;
    background: #2599c7;
    text-align:right;
    color:#0c0909;
    border: 0;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 15px;
    overflow: hidden;
    position: relative;
    top: 10px;

}
#result:hover {
    cursor: text;
}
#first-rows {
    margin-bottom: 20px;
    position: relative;
    top: 10px;

}
.rows{
    width: 300px;
    margin-top: 10px;
    background-color: yellow;
}

#delete {
    width:100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 25px;
}

.btn-style {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 5px;

}
.first-child{
    margin-left:25px;
}
.num-bg {
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #333;

}
.num-bg:active {
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 15px 15px 15px cyan;

}
.opera-bg {
    background: #333333;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #333;
}
.opera-bg:active {
    background: #333333;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 15px 15px 15px cyan;
}

.del-bg {
    background: #333333;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #333;
}
.del-bg:active {
    background: #333333;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 15px 15px 15px cyan;
}
/*align add and equal buttons to the right*/
.align{
    margin-left: 10px !important;

}
.fallback {
    margin-left: 10px !important;

}