@charset "UTF-8";

#wrapper {
    background-color: black;
    float: inherit;
    width: 700;
    position: relative;
    margin: 0 auto 0 auto;
}

h1, h2, h3{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px
}

a {
    color: greenyellow;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}
nav{
    width:auto;
    height: 30px;
    text-align: center;
    background-color: #ffcc00;
    padding: 10px 0px 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;    
}

nav a{
    color: #000000;
    text-decoration: none;

}

nav a:hover{ 
    color: red;
    text-decoration: underline;

}

header { width: auto;
        height: auto;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 25px;
        padding: 50px 100px 5px 100px;
        color: yellow

    }

article {
    float: left;
    width: 600px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #cccccc;
    padding: 15px 15px 5px 5px;
}
aside{
    float: right;
    width: 200px;
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #cccccc;
    padding: 25px 25px 25px 25px;
    line-height: 15px;


}
footer{
    clear: both;
    width: auto;
    height: 30px;
    background-color: #FC0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #333;
    padding: 20px 0px 10px 10px;
}
    
/* contact.html*/

/* remove input autofocus */
*:focus {typograph
    outline: none;
}

/* form typograph */
.contact_form h2, .contact_form label{
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.contact_from ul{
    width 100%
    list-style-type: none;
    list-style-position: absolute;
    margin: 0px;
    padding: 0px;

}

.contact_form li {
    padding:12px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.contact_form h2 {
    margin: 0;
    display:inline;

}
.notification {
    color: rgb(207, 27, 27);
    margin: 5px 0 0 0;
    dispaly: inline;
    float:right;

}
.contact_form label {
    width: 150px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    float: left;
    padding: 3px;

}
.contact_form input {
    height: 25px;
    width: 200px;
    padding: 5px 5px;
}

.contact_form textarea {
    width: 300px;
    padding: 5px;

}

.contact_form button{ 
    margin-left: 200px;
}

.contact_form input, .contact_form textarea {
    border: 1px solid grey;
    box-shadow: 0px 0px 3px #cccccc, 0 10px 15px rgb(207, 27, 27)inset;
    border-radius: 2px;
    -moz-transition: padding .25s;
    -webkit-transction: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;

}
.contact_form input:focus, .contact_form textarea:focus {
    background-color: #ffffff;
    border: 2px solid #555555;
    box-shadow: 0 0 3px #aaaaaa;
    padding-right: 75px;
}

.contact_form input:required, .contact_form textarea:required {
    background: #fff url('/image/red_asterisk.png') no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    background: #fff url('/image/red_asterisk.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b45252;
}
.contact_form input:focus:valid, .contact_form textarea:focus:invalid {
    background: #fff url('/image/red_asterisk.png') no-repeat 98% center;
    box-shadow: 0 0 5px #07e75d;
    border-color: #37cc0a;
}

.font_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 10px;
    padding: 1px 6px;
    position: absolute;
    top: 1px;
    left: -5px;
    
}
..font_hint::before{
    conten:-5pxt:"\25C0";
    color: #d45252
    position: absolute;
    /*top: 1px;*/
    left:-25px;
}

.contact_form input:focus + .form_hint {
    background: #289228;

}
.contact_form input:required:valid +.from_hints + .form_hint {
    background: #28921f
}
.contact_form input:required:valid +.from_hints + .form_hint before {
    color:#289228;
}
button.submit {
    background-color: #686868;
    border" 2px solid #550099;
    border-bottom: 1px solid #5b995b;
    border-radius: 3px;
    /*box-shadow: insert 0 1px 0 0 #9f9f9f; */
    font-weight:bold;
    text-align: centre;
    padding: 6px 20px;

}

button.submit;hover {
        opacity: 55;
        cursor: pointer;

}

button.submit: active {
    border: 2px solid #20911e;
    box-shadow: 0 0 10px 5px
}
